---
import Container from "../shared/Container.astro";
import ByNumbers from "../react-components/ByNumbers.jsx";
---

<section class="relative mt-12 md:mt-16">
  <Container>
    <div
      class="min-h-[140px] mx-auto p-5 sm:p-6 py-6 sm:py-8 max-w-5xl rounded-3xl bg-box-bg border border-box-border shadow-lg shadow-box-shadow md:divide-x divide-box-border grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-8 md:gap-6 lg:gap-12"
    >
      <ByNumbers client:load client:only />
    </div>
  </Container>
</section>
