<a class="text-heading-1">
  <svg
    {...Astro.props}
    viewBox="0 0 40.010045 23.896133"
    version="1.1"
    id="svg1"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
  >
    <defs id="defs1"></defs>
    <g id="layer1" transform="translate(-89.444566,-54.675536)">
      <text
        xml:space="preserve"
        style="font-size:2.2119px;stroke-width:0.184325"
        x="89.559769"
        y="63.407932"
        id="text41"
        ><tspan
          id="tspan40"
          x="89.559769"
          y="63.407932"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:11.7968px;font-family:'Permanent Marker';-inkscape-font-specification:'Permanent Marker, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.184325"
          >Hobby
        </tspan><tspan
          x="89.559769"
          y="78.153931"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:11.7968px;font-family:'Permanent Marker';-inkscape-font-specification:'Permanent Marker, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.184325"
          id="tspan41"
        >  Layer</tspan
        ></text
      >
    </g>
  </a>
</span>